services:
  - type: web
    name: pack-go-movers-api
    env: node
    repo: https://github.com/SereneAura2/PackMoveGO-API
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://rhamseyswork:PiratesMath1983@packgomove.uz0qifj.mongodb.net/?retryWrites=true&w=majority&appName=PackGoMove
      - key: JWT_SECRET
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
    healthCheckPath: /api/health
    autoDeploy: true
    plan: free 